<!-- views/ihm/checkbox.ejs -->

<%_ if (custom_style == 'p') { %>
    <p>
<% } else {%>
    <span>
<% } _%>

    <%_ var tooltip = content['Key'] %>
    <% if (content.hasOwnProperty('ToolTip')) { %>
        <% tooltip = content['ToolTip'] %>
    <% } _%>

    <label for= "<%=content['Key'] %>"> <%=content['Name'] %> </label>
    <%_ if (content['Value'] == true) { %>
        <input title="<%=tooltip%>" type="checkbox" id="<%=content['Key']%>" name="<%=content['Key']%>"  onclick="activate_dependencies(this)" checked>
    <% } else { %>
        <input title="<%=tooltip%>" type="checkbox" id="<%=content['Key']%>" name="<%=content['Key']%>"  onclick="activate_dependencies(this)">
    <% } _%>

<%_ if (custom_style == 'p') { %>
    </p>
<% } else {%>
    </span>
<% } _%>
