<!-- views/partials/combobox.ejs -->

<%_ if (custom_style == 'p') { %>
    <p>
<% } else {%>
    <span>
<% } _%>

    <%_ var tooltip = content['Key'] %>
    <% if (content.hasOwnProperty('ToolTip')) { %>
        <% tooltip = content['ToolTip'] %>
    <% } _%>
    <label for="<%=content['Key']%>"><%=content['Name']%></label>

    <select id="<%=content['Key']%>"  name="<%=content['Key']%>" title="<%=tooltip%>">
    <%_ options=content['Value'].split(';') %>
    <% for (var i = 0; i < options.length; i++) {%>
        <option value=" <%= options[i] %>"> <%= options[i] %> </option>
    <% } _%>
    </select>
    
<%_ if (custom_style == 'p') { %>
    </p>
<% } else {%>
    </span>
<% } _%>
