<!-- views/ihm/electron/fileselector.ejs -->

<%_ var myId='file-selector-' + content['Key'] %>
<% var myContent='file-selector-content-' + content['Key'] %>
<% let myValue = '' %>
<% if (content.hasOwnProperty('Value')) { %>
    <% myValue = content['Value'] %>
<% } _%>


<%_ if (custom_style == 'p') { %>
    <p>
<% } else {%>
    <span>
<% } _%>

<input type="button" id="<%=content['Key']%>" value="Selectionner un fichier">
<input type="text" id="<%=myContent%>" value="<%=myValue%>" name="<%=content['Key']%>" size="100"><%=myValue%>
<script src="fileselector.js" name="<%=content['Key']%>"></script>


<%_ if (custom_style == 'p') { %>
    </p>
<% } else {%>
    </span>
<% } _%>
