<!-- views/ihm/electron/folderselector.ejs -->

<%_ var myId='folder-selector-' + content['Key'] %>
<% var myContent='folder-selector-content-' + content['Key'] %>
<% let myValue = '' %>
<% if (content.hasOwnProperty('Value')) { %>
    <% myValue = content['Value'] %>
<% } _%>


<%_ if (custom_style == 'p') { %>
    <p>
<% } else {%>
    <span>
<% } _%>

<input type="button" id="<%=content['Key']%>" value="Selectionner un dossier">
<input type="text" id="<%=myContent%>" value="<%=myValue%>" size="100" name="<%=content['Key']%>"><%=myValue%>
<script src="folderselector.js" name="<%=content['Key']%>"></script>
<%_ if (custom_style == 'p') { %>
    </p>
<% } else {%>
    </span>
<% } _%>
