<!-- views/ihm/lineedit.ejs -->

<%_ var value = '' %>
<% if (content.hasOwnProperty('Value')) { %>
    <% value = content['Value'] %>
<% } _%>

<%_ var tooltip = content['Key'] %>
<% if (content.hasOwnProperty('ToolTip')) { %>
    <% tooltip = content['ToolTip'] %>
<% } _%>

<%_ var type = 'text' %>
<%  var step = '' %>
<%  var required = false %>
<%  var pattern = '' _%>

<%_ if (content.hasOwnProperty('ValueType')) { %>
    <% if (content['ValueType'] == 'String') { %>
        <% type = 'text' %>
    <% } %>
    <% if (content['ValueType'] == 'Double') { %>
        <% type = 'text' %>
        <% required = true %>
        <% pattern = '^-?(0|[1-9]\\d*)?(\\.\\d+)?(?<=\\d)$' %>
    <% } %>
    <% if (content['ValueType'] == 'Integer') { %>
        <% type = 'number' %>
        <% step = '1' %>
        <% required = true %>
    <% } %>
    <% if (content['ValueType'] == 'Date') { %>
        <% type = 'date' %>
        <% required = true %>
    <% } %>
<% } _%>

<%_ var min = '' %>
<% if (content.hasOwnProperty('ValueMin')) { %>
     <% min = content['ValueMin'] %>
<% } _%>

<%_ var max = '' %>
<% if (content.hasOwnProperty('ValueMax')) { %>
     <% max = content['ValueMax'] %>
<% } _%>

<%_ var validation_data = 'type=\"' + type + '\"' %>

<% if (min != '') { %>
    <% validation_data = validation_data + ' min=\"' + min + '\"'; %>
<% } _%>

<% if (max != '') { %>
    <% validation_data = validation_data + ' max=\"' + max + '\"'; %>
<% } _%>

<% if (step != '') { %>
    <% validation_data = validation_data + ' step=\"' + step + '\"'; %>
<% } _%>

<% if (pattern != '') { %>
    <% validation_data = validation_data + ' pattern=\"' + pattern + '\"'; %>
<% } _%>

<% if (required) { %>
    <% validation_data = validation_data + ' required'; %>
<% } _%>

<%_ if (custom_style == 'p') { %>
    <p>
<% } else {%>
    <span>
<% } _%>

    <label for= "<%=content['Key'] %>"> <%=content['Name'] %> </label>
    <input title="<%=tooltip%>" type="<%=type%>" value="<%=content['Value']%>" name="<%=content['Key']%>" id="<%=content['Key']%>" size="10" <%-validation_data%>>
    
<%_ if (custom_style == 'p') { %>
    </p>
<% } else {%>
    </span>
<% } _%>

