<!-- views/ihm/radiogroup.ejs -->

<%_ if (custom_style == 'p') { %>
    <p>
<% } else {%>
    <span>
<% } _%>

<%_ var tooltip = content['Key'] %>
<% if (content.hasOwnProperty('ToolTip')) { %>
    <% tooltip = content['ToolTip'] %>
<% } _%>
 
 <%_ if (content['Name'] != '') { %>
    <p> <%=content['Name']%> </p>
<% } _%>

<%_ button_data=content['content'] %>
<% let custom_group_style='p' %>
<% if (content.hasOwnProperty('GroupType')) { %>
   <% if (content['GroupType'] == 'HorizontalGroup') { %>
        <% custom_group_style='a' %>
   <% } %>
<% } _%>

<% if (content.hasOwnProperty('Key')) { %>
    <fieldset id="<%=content['Key']%>">
<% } else { %>
    <fieldset>
<% } %>

    <%_ for (var myKey in button_data) { %>
        <% subcontent = button_data[myKey] %>
        <% if (custom_group_style == 'p') { %>
            <p>
        <% } else {%>
            <span>
        <% } %>
            <% if (subcontent['Value'] == true) { %>
                <input title="<%=tooltip%>" type="radio" id="<%=subcontent['Key']%>" name="<%=content['Key']%>" onclick="activate_dependencies(this)" value="<%=subcontent['Key']%>" checked>
            <% } else { %>
                <input title="<%=tooltip%>" type="radio" id="<%=subcontent['Key']%>" name="<%=content['Key']%>" value="<%=subcontent['Key']%>" onclick="activate_dependencies(this)">
            <% } %>
            <label for="<%=subcontent['Key']%>"><%=subcontent['Name']%></label>
        <% if (custom_group_style == 'p') { %>
            </p>
        <% } else {%>
            </span>
        <% } %>
    <% } _%>

</fieldset>

<%_ if (custom_style == 'p') { %>
    </p>
<% } else {%>
    </span>
<% } _%>
